<h1>New Dashboard</h1>

<%= form_for :dashboard, url: dashboards_path do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :dateArchive,'Archive date (Between : 2012/10/12 and today in format : yyyy/mm/dd )' %><br>
    <%= f.date_field :dateArchive %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back', dashboards_path %>