<h1>New Dashboard</h1>

<%= form_for :dashboard, url: dashboards_path do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :dateArchive,'Archive Hour in 01/01/2015 (Between : 00h  and 23h in format : HH )' %><br>
    <%= f.text_field  :dateArchive %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back', dashboards_path %>