<script src="//www.google.com/jsapi"></script>
<script src="../chartkick.js"></script>

<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

<p>
  <strong>Title:</strong>
  <%= @dashboard.title %>
</p>
 
<p>
  <strong>Hour :</strong>
  <%= @dashboard.dateArchive %><p> h</p>
</p>

<%= pie_chart @archives.group(:type).count %>

<%= link_to 'Back', dashboards_path %>